:root {
  --time: 0.2s;
}

.project-thumb {
  position: relative;
  /* width: 32rem; */
  /* height: 18rem; */
  height: 30vh;
  width: 27vw;
  transition: all var(--time) ease-in-out; /* Transición para el estado normal y hover */
}

.project-thumb-img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: fill;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.13);
  transition: all var(--time) ease-in-out; /* Transición para el estado normal y hover */
}

.project-thumb-title {
  position: absolute;
  border-radius: .5rem;
  background-color: rgba(254, 254, 254, 0.7);
  
  width: 100%;
  height: 100%;
  top: 0%;
  left: 50%;  
  transform: translateX(-50%);
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Pixelify Sans';
  text-transform: uppercase;
  
  border: none;
  cursor: pointer;
}

.project-thumb-icons{
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.project-thumb-overlay {
  opacity: 0;
  transition: all var(--time) ease-in-out;
}

.project-thumb:hover {
  transform: scale(1.05);
}

.project-thumb:hover .project-thumb-img {
  filter: blur(0.07rem) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2)); 
}

.project-thumb:hover .project-thumb-overlay {
  opacity: 1;
}




