:root{
  --text--name: 5rem;
}

.home-container{
    /* background: linear-gradient(90deg, var(--color-background) 30%, var(--color-background-secondary) 30%); */
    border-radius: 1%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.home-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-avatar{
    height: 23rem;
    width: 13vw;
    width: 16rem;
    object-fit: fill;
    mix-blend-mode: multiply;
    margin-top: 6rem;
}

.home-left-intro{
    font-family: 'Courier Prime', monospace;
    margin: 0;
    margin-top: .6rem;
    color: var(--color-text-secondary);
    font-size: 3.5rem;
    width: 90%;
    text-align: right;

}

.home-left-name{
    color: var(--color-background-secondary);
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    font-size: var(--text--name);
    width: 90%;
    text-align: right;
    
    /* margin-left: 7vw; */
}

.home-right{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20rem; */

    display:grid;
    grid-template-rows: 55% 17% 32%;

    width: 50%;
}

.home-right-name{
  grid: column 2 / 3;
    color: var(--color-main);
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: var(--text--name);
    margin-bottom: 0;
    margin-left: 1vw;
}

.home-right-intro{
    grid: column 3 / 4;
    font-family: 'Courier Prime', monospace;
    height: 27vh;
    margin: 0;
    /* margin-top: 1vh; */
    color: var(--color-text);
    font-size: 2.5vh;
    font-size: 1.5rem;
    width: 80%;
    text-align: justify;
    padding-left: 1.4vw;
    overflow: hidden;

}
