
.icon-button{
  color: var(--color-background);
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 0;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.icon-button i{
    font-size: 9vh;
    margin: 0;
    padding: 0;
}


.icon-div{
  width: fit-content;
    height: fit-content;
}