html {
  --color-main: #C2F8CB;
  --color-background-secondary: #5603AD;
  --color-text-secondary: #8367C7;
  --color-text: #B3E9C7;
  --color-background: #F0FFF1;
  background-color: white;
  border: none;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 16px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  /* overflow: hidden; */

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body{
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



@media  (max-width: 1750px){
  html {
    font-size: 10px;
  }
  
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #750a0a;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
