.container-app{
    width: 96vw;
    font-size: 2.5vh;
    height: 90vh;
    border-radius: 1%;
    margin: 0;
    margin: auto;
    margin-top: 4vh;
    box-shadow: inset 0 0 1vh 0.5vh rgba(0, 0, 0, 0.14);
}

.socialMedia{
    position: absolute;
    bottom: 25vh;
    height: 45vh;
    right: 5vw;
}